<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Contactate - Tu lista de contactos</title>
  <!-- CSS & ICON  -->
  <link rel="shortcut icon" type="image/x-icon" href="static/img/icon.png" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/vendor/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/vendor/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <!-- SCRIPTS  -->
  <script src="static/js/vendor/jquery-3.1.0.min.js"></script>

  <script src="static/js/vendor/underscore-min.js"></script>
  <script src="static/js/vendor/backbone-min.js"></script>

  <script src="static/js/models/ContactoHome.js"></script>
  <script src="static/js/views/ContactoView.js"></script>
  <script src="static/js/app.js"></script>
</head>
<body>
  <div id="modal1" class="modal">
    <div class="modal-content ">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <a onClick="onAdd()" class=" modal-action modal-close waves-effect waves-green btn-flat">Guardar</a>
    </div>
  </div>
  <nav class="white">
    <div class="nav-wrapper">
      <img id="logo-container" src="static/img/logo.png" />
    </div>
  </nav>
  <div id="ui">
  </div>
  <div class="container">
    <div class="col s12 m7" id="listaContactos">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <table id="app">

            </table>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="section">

    </div>
  </div>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">

    <a class="btn-floating btn-large red waves-effect waves-light red modal-trigger" href="#modal1">
      <i class="large material-icons">person_add </i>
    </a>

  </div>
</div>

<footer class="page-footer blue">
  <div class="footer-copyright">
    <div class="container">
      <center>Programación Web 2016, Desarrollado por Juan Britez & Vanessa Leguizamon</center>
    </div>
  </div>
</footer>
<script src="static/js/vendor/materialize.js"></script>
<script src="static/js/vendor/init.js"></script>
<script type="text/javascript">
$(document).ready(function(){

  $('select').material_select();
  $('.modal-trigger').leanModal();


});
</script>
</body>
<script type="text/template" id="searchTemplate">

  <div class="row">
      <form class="col s3">
        <div class="input-field">
          <input id="search" placeholder="Nombre o Apellido" onKeyUp="onTituloFilter()" value='<%= filter %>'>
          <label for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
    <div class="col s6"></div>
    <div class="input-field col s1">
      <select onChange="onChangeSortOrder()" id="sortField">
        <option <% if(sortField === "nombre"){ %> selected <% } %> value="nombre">Nombre</option>
        <option <% if(sortField === "apellido"){ %> selected <% } %> value="apellido">Apellido</option>
      </select>
    </div>
    <div class="input-field col s2">
      <select onChange="onChangeSortOrder()" id="sortOrder">
        <option <% if(sortOrder === "asc"){ %> selected <% } %> value="asc">Ascendente</option>
        <option <% if(sortOrder === "desc"){ %> selected <% } %> value="desc">Descendente</option>
      </select>
    </div>
  </div>
</script>
<script type="text/template" id="itemTemplate">

  <td><%= nombre %></td>
  <td><%= apellido %></td>
  <td><%= telefono %></td>

</script>

<script type="text/template" id="fichaTemplate">
  <a href="#/contacto">< volver</a>
  <h2><%= nombre %></h2>
  <p>

    <br/><br/>
    by <strong><%= apellido %></strong>
    <br/><br/>
    <i><%= telefono %></i>

  </p>
</script>


<script type="text/javascript">
$(	function(){

  var contactos = new ContactoList();
  contactos.fetch({reset: true});
  contactos.bind('reset',function(){
    var bootstrap = {
      data: contactos.models,
    };
    App.start(bootstrap);
  });

  //ui event listeners
  onChangeSortOrder = function()
  {
    App.sortBy($('#sortField').val(), $('#sortOrder').val());
  }

  //ui event listeners
  onTituloFilter=function()
  {
    App.filterBy($('#search').val());
  }
  onAdd=function()
  {
    App.agregarContacto( $("#first_name").val(), $("#last_name").val());
  }


});
</script>

</html>
